body {
  margin: 0;
  font-family: arial,sans-serif-light,sans-serif;
}

#navbar {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
}

#navbar-top {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-logo-wrapper {
  display: flex;
}

#logo-link {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: -10px;
}

#logo {
  height: 33px;
  width: 100px;
}

#search-bar {
  display: inline-flex;
  width: 600px;
  height: 45px;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}


#search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#input {
  border: none;
  width: 90%;
  height: 30px;
}

#search-icons {
  display: inline-flex;
  justify-content: space-between;
  width: 50px;
}

#apps-user {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

#nav-bottom-types {
  list-style: none;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

#nav-bottom-types a {
  text-decoration: none;
  padding: 16px 12px 12px 10px;
  font-size: 0.8em;
  margin: 1px;
}

li a i{
  margin-right: 5px;
}

#options-wrapper {
  display: flex;
  margin-left: 40px;
}

.search-results {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

#results-wrapper{
  width: 60%;
  float: left;
  height: 100%;
  padding: 20px;
}

#side-overview {
  float: right;
  height: 100%;
  width: 40%;
}

#result-list {
  list-style: none;
  padding: 0;
  width: 85%;
}

#results-wrapper>span {
  color: #70757a;
}

#result-list li {
  margin: 25px 0;
}

#result-list li h3 {
  margin-top: 4px;
  margin-bottom: 6px;
}

#result-list li a {
  text-decoration: none;
}

#recent-news-wrapper {
  width: 90%;
}

#news-table {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  flex-direction: column;
}

.news-row {
  display: flex;
  padding: 20px;
}
 #middle-row {
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
 }


.row-link {
  display: flex;
  width: 100%;
}

.row-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

#related-searches {
  list-style: none;
  padding: 0;
  color: blue;
  font-weight: bolder;
}

#related-searches i {
  margin-right: 10px;
}

#side-overview{
  height: 100%;
  margin-top: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}

#side-header {
  border-bottom: 1px solid #dfe1e5;
  padding: 20px 15px;
}

#side-header span {
  font-size: 30px;
}

#share-icon {
  float: right;
}

#side-short-desc {
  margin-top: 20px;
}

#side-content {
  padding: 20px 15px;
}

#side-list {
  list-style: none;
  padding: 0;
}


#side-list li {
  line-height: 2em;
}

#side-list a {
  text-decoration: none;
}

#side-list a:hover {
  text-decoration: underline;
}

#other-searches {
  display: flex;
  justify-content: space-around;
}

.other-search-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3 {
  color: rgb(26, 13, 171);
}

#result-pages {
  margin: 30px auto 30px;
  text-align: center;
  font-size: 14px;
  border-collapse: collapse;
}

#first-res {
  padding: 0;
}

tr {
  vertical-align: top;
}

.result-letter-first {
  display: block;
  background: url(../images/nav_logo299_hr.webp);
  background-position: -24px 0;
  background-size: 167px;
  width: 28px;
  height: 40px;
}

.result-letter {
  display: block;
  background: url(../images/nav_logo299_hr.webp);
  background-position: -74px 0;
  background-size: 167px;
  width: 20px;
  height: 40px;  
}

.result-letter-last {
  display: block;
  background: url(../images/nav_logo299_hr.webp);
  background-position: -96px 0;
  background-size: 167px;
  width: 71px;
  height: 40px;
}

#next-result-page {
  margin-left: 50px;
}

table a {
  text-decoration: none;
  color: #4285f4;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  background: #f2f2f2;
  color: rgba(0,0,0,.54);
  border: 1px solid #e4e4e4;
  padding: 10px 0;
  font-size: 14px;
}

#country {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  border-right: 1px solid #e4e4e4;
  padding-right: 10px;
  margin-bottom: 10px;
}

#location {
  padding-left: 10px;
}

#location a {
  text-decoration: none;
  color: rgba(0,0,0,.54);
}

#help {
  grid-column: span 3;
  grid-row: 2/3;
  padding-left: 185px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
}

#help a {
  text-decoration: none;
  color: rgba(0,0,0,.54);
  padding-right: 20px;

}